#Education{
    color: black;
    height: 120vh;
    padding: 6vw;
}
#id_EducationSection{
   
    font-size: xx-large;
    height: 8vh;
}
.neu_img{
    background-image: url(./../../Images/northeastern_university_logo.png);
    height: 2vh;
    width: 2vw;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.bit_img{
    background-image: url(./../../Images/Bangalore_Institute_of_Technology_logo.png);
    height: 2vh;
    width: 2vw;
    background-size: 100%;
    background-repeat: no-repeat;
}

.edu_details{
    margin-top: 4vh;
}
.col_name{
    font-size: x-large;
   
}
.rel_subj{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
    margin-top: 2vh;
    text-align: left;
}
.prog_name{
    font-size: medium;
    margin-top: 5vh;
    font-style: italic;
    font-family: 'Julius Sans One', sans-serif;
}
.BIT{
    margin-top: 5vh;
    padding: 6vh;
    height: auto;
    box-shadow: 5px 3px 9px #888;
    text-align: center;
}
.Northeastern{
    padding: 6vh;
    height: auto;
    box-shadow: 5px 3px 9px #888;
    
    text-align: center;
}
@media only screen and (max-width: 600px) {
    #Education{
        color: black;
       
        height: 160vh;
        padding: 6vw;
    }
  }
  @media only screen and (max-width: 867px) and (min-width: 600px) {
    #Education{
        color: black;
        height: 146vh;
        padding: 6vw;
    }
  }
  .font20_edu{
    font-size: 42px;
    padding-bottom: 3vw;
    font-family: 'Rajdhani', sans-serif;
    color: #313131;
  }