/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
 background-color: white;
 height: 734vh;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */

.App{
 overflow-x: hidden;
 overflow-y: hidden;
}
